{
  "presets": [
    [
      "@babel/env",
      {
        "targets": [
            "node 8"
        ],
        "useBuiltIns": "entry"
      }
    ]
  ],
  "env": {
    "testing": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
